
body{
    background-color:gainsboro;

    
}
.container{
    margin: 0px auto;
    padding: 0px;
    width: 1000px;
     height: 1670px; 
position:relative;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
   
}
.menu{
    display: inline-block;
    width: 1000px;
    height: 50px;
    background-color: #585a76;
   margin: -4px;
margin-left: 0px;
    
}
nav > a:hover{
    color: rgb(211, 224, 28);
    text-decoration:underline;
}
.menu > ul > li{
    display: inline-block;
    position: relative;

}
.menu > ul > li > a{
    display: block;
}
.menu > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    line-height: 50px;
    border-radius: 3px;
    text-align: center;
}
.menu > ul > li > a{
    text-decoration: none;

    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: #585a76;
    z-index: 1;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-variant: small-caps;
    padding: 0 10px;
    text-align: left;
}
.menu > ul > li:hover > ul{
    display: block;
}
.menu > ul > li > a:hover{
    color: white;
    background-color: #2c1b33;
    text-decoration:double;
}
.menu ul ul a:hover{
    background-color: rgb(75, 64, 64);
    color: white;
}
.banner{
    position: absolute;

    padding: 5px;
    margin-left: -20px;
}

.banner img{
  width: 970px;
  padding: 30px;
}

h1{
    margin-top: -200px;
    font-size: 40px;
    
    color: white;
}
p{
    color: white;
    font-size: 20px;
}
.chu hr{
  position: relative;
  bottom: 30px;
}
.chu p{
  position: relative;
  bottom: 35px;
}
.chu{
    position: relative;
    float: right;
    top: -100px;
    right: 110px;
    width: 270px;
    text-align: center;
}

  /* icon tìm kiếm */
  form.example input[type=text] {
    padding: 10px;
    font-size: 13px;
    border: 1px solid grey;
    clear: both;
    width: 150px;
    background: #f1f1f1;
    border-radius: 200px;
   
 
 
  }
  

  form.example button {
    clear: both;
    width: 80px;
    padding: 10px;
    background: #64717c;
    color: white;
    font-size: 13px;
    height: 30%;
    border: 1px solid #64717c;
    border-radius: 200px;
    border-left: none; 
    margin-left: 5px;
    box-shadow: #c0c9ca 3px 3px;
    cursor: pointer;
    
    
  }
  
  form.example button:hover {
    background: rgb(119, 112, 112);
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
    
  }
  .example {
    margin-left: 8px;
    position: relative;
    bottom: 45px;
    
  }
  .article{
    width: 960px;
   
  }
  .article2{
    width: 960px;
    position: relative;
    bottom: 550px;
   
  }
  article{
    position: relative;
    top: -20px;
    margin-left: 20px;
    
  }
  article img{
    width: 300px;
    border-radius: 10px;
    margin: 25px;
  }
  article p{
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 680px;
    color: black; 
    top: 24px;
  }
footer{
    width: 1000px;
    height: 50px;
    background-color: #7c9695 ;
    line-height: 55px;
    text-align: center;
   position: relative;
   top: -30px;
    margin:auto;
  
}
